/* image in each component's section */
.section-image {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 5px;
}

h1, h2 {
    text-align: center;
}
/* link */
a:link {
    color: #42b9f4;
}

/* visited link */
a:visited {
    color: #42b9f4;
}