h1, h3 {
    text-align: center;
}

/* dank looking buttons */
.button {
    background-color: #22EEEE;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    border-radius: 10px;
    cursor: pointer;
}